<!DOCTYPE html>
<html lang="en-US">
  <head>
      <meta charset="utf-8">
      <title>EZ Booking App</title>
      <link rel="stylesheet" type="text/css" href="./style.css">
  </head>
  <body>

      {{{body}}}

  </body>
</html>
