{{#each flightData}}
<div class="results-container">
  <div class="outbound">
    <p>outbound duration: {{outBoundDuration}}</p>
  </div>
  <div class="inbound">
    <p>inbound duration: {{inBoundDuration}}</p>
  </div>
  <p>price: ${{price}}</p>
  <a target="_blank" href="{{deepLink}}">Link to Book Flight</a>
</div>
{{/each}}
