<div class = 'logo'><img src='/images/EZBooking-Logo-03-01-01.png'></div>
<div id = 'container'>
    <div class = 'bg-im'></div>
<h2>Please ensure the origin and destination locations are in IATA airport/city formats</h2>
origin (req):
<input type="text" name="origin" value="">
destination (req):
<input type="text" name="destination" value="">
departure_date (req):
<input id="dep-date" type="date">
return_date (optional):
<input id="return-date" type="date">
max_price (optional):
<input id="price" type="text" name="price" value="">
<input class = "btn" type="submit" value="Submit">
</div>